.ant-picker {
  width: 100%;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.ant-picker-dropdown {
  z-index: 10560 !important;
}
